
    body{
        margin: 0;
        display: flex;
        justify-content:center;
        align-items: center;
        height: 100vh;
        background:rgb(15, 15, 15)
    
    }
    #calculator{
        font-family: arial,sans-serif;
        border: 3px solid gold;
        background: linear-gradient(45deg,#007ae3,#787878,#ff6347);
        border-radius: 15px;
        max-width: 500px;
        overflow: hidden;
        box-shadow: 0px 5px 15px rgba(180, 187, 201, 0.808);
    }
    #display{
        width:100%;
        padding: 4px;
        font-size: 5rem;
        text-align: right;
        border: rgb(22, 20, 16);
        background-color: hsl(0, 16%, 75%);
        color: rgb(253, 249, 249);
    }
    #keys{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
        padding: 25px;
    }
    button{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: none;
        background-color: hsl(0, 18%, 97%);
        color: rgb(27, 23, 23);
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
    }
    button:hover{
        background-color: hsl(0, 0%, 50%);
    }
    button:active{
        background-color: hsl(0, 0%, 60%);
    }
    .operator-btn{
        background-color: hsl(266, 65%, 73%);
    }
    .operator-btn:hover{
        background-color: hsl(262, 17%, 75%);
    }
    .operator-btn:active{
        background-color: hsl(22, 63%, 72%);
    }
    .allclearbtn{
        background-color: #f09585;
    }
    .allclearbtn:hover{
        background-color: #f0b5b5;
    }
    .equalbtn{
        background-color: aqua;
    }
    .equalbtn:hover{
        background-color: rgb(180, 236, 236);
    }
